
<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Jumbotron Template for Bootstrap</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

<div data-th-replace="navbar"></div>

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <div class="container">
                <h2> Gestion Sporty</h2>

                <h6>Formulaire mise  à jour produit</h6>
                <br>
            </div>
            <div class="container">
                <form th:object="${Formproduit}" method="Post" th:action="@{/produits/save}">
                    <div class="form-group">
                        <label for="idc">Nom</label>
                        <input type="text" class="form-control" id="idc" th:field="*{id}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="designation">Designation</label>
                        <input type="text" class="form-control" id="designation" th:field="*{designation}">
                    </div>
                    <div class="form-group">
                        <label for="prix">prix</label>
                        <input type="text" class="form-control" id="prix" th:field="*{prix}">
                    </div>
                    <div class="form-group">
                        <label for="quantite">quantite</label>
                        <input type="text" class="form-control" id="quantite" th:field="*{quantite}">
                    </div>
                    <div class="form-group">
                        <label for="genre">genre</label>
                        <select type="text" class="form-control" id="genre"th:field="*{genre}">
                            <option value="homme">homme</option>
                            <option value="femme">femme</option>
                            <option value="enfant">enfant</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="categorie">categorie</label>
                        <select class="form-control" id="categorie"th:field="*{categorie.id}">
                            <option th:each="c:${categories}"th:value="${c.id}"th:utext="${c.nomcat}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="marque">marque</label>
                        <select class="form-control" id="marque"th:field="*{marque.id}">
                            <option th:each="c:${marques}"th:value="${c.id}"th:utext="${c.nommarque}"></option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

</main>

<footer class="container">

    <p>&copy;    devolepped by Digital-Angels
    </p>
    <p>&copy; Company 2021</p>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
